<h1>My Favourite Products</h1>
<hr>
<% Product.favourites.find_by(user: current_user).each do |list| %>
    <div>
        <h3>Product: <%=list.product.title%></h3>
        <p>Price: <%= list.product.price%><p>
    </div>
    <hr>
<% end %>
