<h1>My Favourite Products</h1>
<hr>
<% current_user.favourite_products.each do |product| %>
    <div>
        <h3>Product: <%=product.title%></h3>
        <p>Price: <%= product.price%><p>
        <p>Favourites: <%= product.favourites.count%><p>
    </div>
    <hr>
<% end %>
